.analyser-outer{
  min-width: 640px;
}
.waveform-col, .frequency-col, .stereo-col, .spectrogram-col{
  padding: 0;
}
.spectrogram-col{
  max-width: 720px;
}
.waveform, .frequency, .spectrogram{
  background: #2d3341;
  margin:0;
}
.spectrogram{
  justify-content: center;
  padding-bottom: 50px;
  align-items: stretch;
}
.frequency-col, .spectrogram-col, .stereo-col{
  padding: 10px 0 25px;
}
.stereo-col{
  max-width: 280px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
.frequency-canvas, .sonogram-canvas, .frequency-canvas-gl, .sonogram-canvas-gl, .filter-panel{
  background: #1c1f26;
  border-radius: 2px;
  border-top: 1px solid #a1aebd;
  border-left: 1px solid #97a1ad;
  border-bottom: 1px solid #eef2fa;
  border-right: 1px solid #eef2fa;
  width: 100%;
  display:block;
}
.diagram-title{
  margin: 1rem 0 .3rem;
  padding: .2rem 1rem;
  color: #aaa;
}
.audio-source-svg{
  padding: 15px 0 10px;
  background: rgba(255,255,255,.1)
}
.audio-input-label{
  margin: .5rem 0;
  padding: .2rem 1rem;
  color: #aaa;
  cursor: pointer;
  background: rgba(255,255,255,.1);
  border-radius: 4px;
}
.audio-input-label:hover{ 
  color: #bccfec;
}
.audio-input-label:active{
  color: #bccfec;
}
.or{
  margin: 0 15px;
  color: #7c8eb8;
}
#audio-input{
  display: none;
}
.waveform-container, .frequency-col{
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.waveform-col input{
  width: 160px;
  padding: 0 5px;
  border-radius: 2px;
}
::-webkit-input-placeholder {
    color:    #ccc;
}
:-moz-placeholder {
    color:    #ccc;
}
::-moz-placeholder {
    color:    #ccc;
}
:-ms-input-placeholder {
    color:    #ccc;
}
.waveform-canvas{
  background: #1c1f26;
  border-radius: 5px;
  border-top: 2px solid #222;
  border-left: 1px solid #222;
  border-bottom: 2px solid #515a6e;
  border-right: 1px solid #515a6e;
  width: 100%;
  display: block;
}
.waveform-info, .waveform-ts{
  color: #fff;
  text-shadow: 1px 1px 0px #000;
  font-size: 12px;
  position: absolute;
  left: 15px;
  top: 40px;
  z-index: 999;
}
.frequency-visual{
  color: #08c;
  font-size: 12px;
  font-family: consolas;
  text-align: left;
}
.frequency-visual label, .frequency-visual input{
  margin: 0 1px;
  line-height: 18px;
  height: 20px;
  vertical-align: middle; 
}
.waveform-ts{
  right: 15px;
  left: auto;
}
.frequency-ts, .sonogram-ts{
  color: #26bbff;
  font-size: 12px;
  font-family: consolas;
  position: absolute;
  right: 0;
  top: 60px;
}
.frequency-ts{
  top:80px;
}
.waveform-ind{
  position: absolute;
  top: 36px;
  bottom: 3px;
  width: 1px;
  background: rgba(201, 221, 255, .5);
  box-shadow: 0px 0px 1px rgba(41, 47, 58, .5);
  z-index: 9;
}
.svg{
  max-width: 980px;
  width: 100%;
}
.svg-hide{
  background: #59606d;
  height: 10px;
  margin-bottom: 30px;
}
.svg-hide-btn{
  width: 40px;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  padding: 2px 0 2px;
}
.dash{
  width: 40px;
  height: 2px;
  border-radius: 2px;
  background: #424854;
  margin: 1px 0;
}
.svg-hide-btn:hover .dash{
  background: #5f86ae;
}
.play-controls{
  padding-top: 10px;
}
.play-controls button{
  margin: 5px 8px 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}
.play-controls button div{
  margin: 0 auto;
  box-sizing: content-box;
  border-radius: 1px;
}
.play{
  width: 0;
  height: 0;
  border-left:14px solid #1475a1;
  border-top:8px solid transparent;
  border-bottom:8px solid transparent;
}
button[disabled] .play{
  border-left-color: #c8c8c8;
}
.pause{
  width:4px;
  height:14px;
  border-left:6px solid #1475a1;
  border-right:6px solid #1475a1;
  
}
.stop div{
  width: 0;
  height: 0;
  border: 7px solid #1475a1;
}
button[disabled] .pause, .stop[disabled] div{
  border-color: #c8c8c8;
}
.ghost{
  display: none;
}
.filter-panel{
  margin-top: 20px;
  width: 100%;
  padding: 35px 0 0;
  flex: 1;
}
.filter-panel select{
  margin-bottom: 20px; 
}