<div class="knob-col">
  <div class="knob-name">Freq</div>
  <modable-knob-container [settings]="settings.freq" (onKnobDrag)="onFreqDrag()"></modable-knob-container>
</div>
<div class="knob-col">
  <div class="knob-name">Detune</div>
  <modable-knob-container [settings]="settings.detune" (onKnobDrag)="onDetuneDrag()"></modable-knob-container>
</div>
<div class="knob-col">
  <div class="knob-name">Q</div>
  <modable-knob-container [settings]="settings.q" (onKnobDrag)="onQDrag()"></modable-knob-container>
</div>