<div [attr.id]="settings.id">
  <svg [attr.width]="settings.size" [attr.height]="settings.size" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="knob-btn">
     <circle cx="50" cy="50" r="32" [attr.fill]="settings.color.fill" [attr.stroke]="settings.color.stroke" stroke-width="3"/>
     <g transform="rotate(-150, 50 50)">          
      <rect x="48" y="19" width="4" height="30" fill="#fff"/>
      <path d="m48 16.565 q2-0.12 4 0 v3 q-2-0.11 -4 0 z" [attr.fill]="settings.color.fill"/>
     </g>
    </g>
    <g fill="#fff" stroke="#000" stroke-opacity=".2" stroke-width=".1">
      <circle cx="50" cy="4" r="2"/>
      <circle transform="rotate(-30, 50 50)" cx="50" cy="4" r="2"/>
      <circle transform="rotate(30, 50 50)" cx="50" cy="4" r="2"/>
      <circle transform="rotate(-60, 50 50)" cx="50" cy="4" r="2"/>
      <circle transform="rotate(60, 50 50)" cx="50" cy="4" r="2"/>
      <circle transform="rotate(-90, 50 50)" cx="50" cy="4" r="2"/>
      <circle transform="rotate(90, 50 50)" cx="50" cy="4" r="2"/>
      <circle transform="rotate(-120, 50 50)" cx="50" cy="4" r="2"/>
      <circle transform="rotate(120, 50 50)" cx="50" cy="4" r="2"/>
      <circle transform="rotate(-150, 50 50)" cx="50" cy="4" r="2"/>
      <circle transform="rotate(150, 50 50)" cx="50" cy="4" r="2"/>
    </g>
    <g class="mod-path1" fill="#424a5a"></g>
    <g class="mod-path2" fill="#424a5a"></g>
  </svg>
  <div class="knob-val">{{settings.value}}<sub>{{settings.unit}}</sub></div>
  <div class="modg">
    <div class="mod-group modg1">
      <select class="form-control modg1-input" (change)="onModSelect($event, 0)">
        <option *ngFor="let mod of modNames" value="{{mod}}">{{mod}}</option>
      </select>
      <button class="btn modg1-slider"><label class="mod-val">{{settings.mods[0].val}}<sub>%</sub></label></button>
    </div>
    <div class="mod-group modg2">
      <select class="form-control modg2-input" (change)="onModSelect($event, 1)">
        <option *ngFor="let mod of modNames" value="{{mod}}">{{mod}}</option>
      </select>
      <button class="btn modg2-slider"><label class="mod-val">{{settings.mods[1].val}}<sub>%</sub></label></button>
    </div>
  </div>
</div>